<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Changa+One|Muli" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Chonburi|Muli" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <section class="whole-page">
    <nav>
      <section class="nav-left-links">
        <a href="./index.html" class="brand">Project Salvador</a>
      </section>
      <section class="nav-right-links">
        <section class="dropdown">
          <a>About</a>
          <div class="dropdown-content">
            <a href="./history.html">History</a>
            <a>Members</a>
            <a>Newsletters</a>
            <a href="./contact.html">Contact</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Donate</a>
          <div class="dropdown-content">
            <a>Ways to Get Involved</a>
            <a>Donate</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Projects</a>
          <div class="dropdown-content">
            <a href="./microlending.html">Karen Adams Microlending</a>
            <a>Scholarships</a>
            <a>La Laguna</a>
            <a href="./pico.html">Pico Community Organizing</a>
            <a>Center for Arts for Peace</a>
            <a href="./radio_victoria.html">Radio Victoria</a>
          </div>
        </section>
      </section>
    </nav>
    <main class="contact">
      <header class="home-header">
        <!-- <img src="../images/la_montanona_25th.jpeg" class="header-image"/> -->
        <img src="../images/la_montanona_25th_anniversary.jpeg" class="header-image"/>
        <!-- <img src="https://wallscover.com/images/san-salvador-wallpaper-16.jpg" class="header-image"/> -->
      </header>
      <article class="history-content">
        <h3 class="header-text">Contact</h3>
        <section class="page-header">
          <p>
            Project Salvador does not have a physical office, but we are always
            available by mail, phone, email, and social media.
          </p>
        </section>
        <section class="contact-row">
          <h4 class="contact-element-header">Mailing Address:</h4>
          <h5 class="contact-element">Project Salvador</h5>
          <h5 class="contact-element">PO Box 300105</h5>
          <h5 class="contact-element">Denver, CO 80203</h5>
        </section>
        <section class="contact-row">
          <h4 class="contact-element-header">Phone:</h4>
          <h5 class="contact-element">
            (508) 740-6393 - This will connect you to board member Erin Kelly.
          </h5>
        </section>
        <section class="contact-row">
          <h4 class="contact-element-header">Email:</h4>
          <h5 class="contact-element">
            info@projectsalvador.org
          </h5>
        </section>
        <section class="contact-row">
          <h4 class="contact-element-header">Facebook:</h4>
          <h5 class="contact-element">
            https://www.facebook.com/ProjectSalvador
          </h5>
        </section>
        <section class="contact-row">
          <h4 class="contact-element-header">E-Newsletter:</h4>
          <h5 class="contact-element">
            Email newsletter@projectsalvador.org to receive our
            quarterly e-newsletter.
          </h5>
        </section>

      </article>
    </main>
    <footer >
      <p>Project Salvador Crafts, Inc.</p>
      <p> a 501c3 organization</p>
    </footer>
  </section>
  </body>
</html>
