<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Chonburi|Muli" rel="stylesheet">
  </head>
  <body>
    <nav>
      <section class="nav-left-links">
        <a href="./index.html"class="brand">Project Salvador</a>
      </section>
      <section class="nav-right-links">
        <section class="dropdown">
          <a>About</a>
          <div class="dropdown-content">
            <a>History</a>
            <a>Members</a>
            <a>Newsletters</a>
            <a>Contact</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Donate</a>
          <div class="dropdown-content">
            <a>Ways to Get Involved</a>
            <a>Donate</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Projects</a>
          <div class="dropdown-content">
            <a href="./microlending.html">Karen Adams Microlending</a>
            <a>Scholarships</a>
            <a>La Laguna</a>
            <a>Pico Community Organizing</a>
            <a>Center for Arts for Peace</a>
          </div>
        </section>
      </section>
    </nav>
    <main class="history">
      <header class="history-header">
        <section class="header-text">
          <h3>
            Project Salvador aids the people of El Salvador in implementing
            their own vision of justice.
          </h3>
        </section>
        <!-- <img src="../images/la_montanona_25th.jpeg" class="header-image"/> -->
        <img src="https://wallscover.com/images/san-salvador-wallpaper-16.jpg" class="header-image"/>
      </header>
      <section class="history-content">
        <article class="history-section">
          <p>
            Project Salvador aids the people of El Salvador in implementing
            their own vision of justice. We are involved in projects which
            assist the Salvadoran people through the leadership of Salvadoran
            people. Project Salvador is incorporated in the State of Colorado
            and recognized by the IRS as the 501(c)(3) non-profit organization,
            “Project Salvador Crafts, Inc.”.
          </p>
        </article>
        <h2 class="text-break">Project Salvador has funded over 200 development and
        material aid projects</h2>
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Fr. Jim</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Fr. Jim</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              Project Salvador began in 1986 with the efforts of Dominican priest,
              Father Jim Barnett, who worked in the marginalized community of
              22 de Abril in metropolitan San Salvador. Father Jim organized a
              group of young people who made crafts for sale in the United States
              beginnings Project Salvador has funded over 200 development and
              material aid projects and has worked with as many as 30 different
              artisan groups helping to market their crafts in the United States.
            </p>
          </article>
          <h2 class="text-break">Over 100 community projects were funded between 1990 and 1993</h2>
        </article>
        <hr />

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Community Projects</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <p>
              From 1990 to 1993 a team of North Americans working in El Salvador
              was charged with distributing the funds donated by our U.S. donors. 
              Maximum grants of $2000 were provided to communities all over the
              country, funding a wide assortment of social, educational, health
              care, organizational and economic development projects.  Over 100
              small projects were funded during these last years of the war, and
              the transition into peacetime.
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">A team of Salvadorans dispersed funds focused on empowerment projects
          that provided long-term skills</h2>
        </article>
        
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Peace in El Salvador</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Peace in El Salvador</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              With the coming of peace to El Salvador, the Project Salvador Board
              decided to turn over the funding decision-making to the Salvadorans. 
              From 1993 to 2006 project funding focused on empowerment projects
              that provided Salvadorans with long-term skills. A team of four
              Salvadorans in El Salvador identified and approved the projects to
              be funded each year, up to a maximum of $5000. Funded projects
              included: organizing and training young people, teaching marketing
              skills to women who sell their wares in the public markets,
              revolving credit funds, community health training, literacy
              training, support for community radio development and providing
              scholarships to students who couldn't afford to attend elementary
              or high school.
            </p>
          </article>
          <h2 class="text-break">After the 2001 earthquakes over $230,000 was raised to support reconstruction</h2>
        </article>
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Earthquake Reconstruction Campaign</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Earthquake Reconstruction Campaign</h3> -->
          <article class="history-article">
            <p>
              After the devastating earthquakes in January and February 2001,
              which left a quarter of the country's population homeless, Project
              Salvador facilitated a very successful two-and-a-half-year
              Earthquake Reconstruction Campaign. From January 2001 to the end of
              2003, over $230,000 was raised to support housing reconstruction
              efforts principally in the parishes of Tierra Blanca, Usulutan and
              Jayaque, La Libertad.
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>

        </article>
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Craft Program Closes its Doors</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              Our crafts program generated over $1.4 million in sales, supporting 
              up to 30 different artisan groups throughout El Salvador between
              1988 and 2013. Due to changing markets our Board made the difficult
              decision to close our crafts operation in 2014. We continue to
              support many of the communities that were part of the crafts program
              through our ongoing community development projects.
            </p>
          </article>
        </article>
        <article class="history-section">
          <h3></h3>
          <p>
          </p>
          <img />
        </article>
      </section>
    </main>
    <footer >
      <p>Project Salvador Crafts, Inc.</p>
      <p> a 501c3 organization</p>
    </footer>
  </body>
</html>
