<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <link rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <nav >
      Navy
    </nav>
    <main>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      Things of all page
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </main>
    <footer >
      Footy
    </footer>
  </body>
</html>
