<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <link rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <nav>
      <section class="nav-left-links">
        <a class="brand">Project Salvador</a>
      </section>
      <section class="nav-right-links">
        <section class="dropdown">
          <a>About</a>
          <div class="dropdown-content">
            <a>History</a>
            <a>Members</a>
            <a>Newsletters</a>
            <a>Contact</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Donate</a>
          <div class="dropdown-content">
            <a>Ways to Get Involved</a>
            <a>Donate</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Projects</a>
          <div class="dropdown-content">
            <a>Karen Adams Microlending</a>
            <a>Scholarships</a>
            <a>La Laguna</a>
            <a>Pico Community Organizing</a>
            <a>Center for Arts for Peace</a>
          </div>
        </section>
      </section>
    </nav>
    <main>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      Things of all page
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </main>
    <footer >
      <p>Project Salvador</p>
      <p> a 501c3 organization</p>
    </footer>
  </body>
</html>
