<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <link rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <nav>
      <section class="nav-left-links">
        <a class="brand">Project Salvador</a>
      </section>
      <section class="nav-right-links">
        <a>About</a>
        <a>Donate</a>
        <a>Projects</a>
      </section>
    </nav>
    <main>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      Things of all page
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </main>
    <footer >
      <p>Project Salvador</p>
      <p> a 501c3 organization</p>
    </footer>
  </body>
</html>
