<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <link href="https://fonts.googleapis.com/css?family=Chonburi|Muli" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <nav>
      <section class="nav-left-links">
        <a href="./index.html" class="brand">Project Salvador</a>
      </section>
      <section class="nav-right-links">
        <section class="dropdown">
          <a>About</a>
          <div class="dropdown-content">
            <a href="./history.html">History</a>
            <a>Members</a>
            <a>Newsletters</a>
            <a>Contact</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Donate</a>
          <div class="dropdown-content">
            <a>Ways to Get Involved</a>
            <a>Donate</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Projects</a>
          <div class="dropdown-content">
            <a href="./microlending.html">Karen Adams Microlending</a>
            <a>Scholarships</a>
            <a>La Laguna</a>
            <a href="./pico.html">Pico Community Organizing</a>
            <a>Center for Arts for Peace</a>
          </div>
        </section>
      </section>
    </nav>
    <main class="microlending">
      <header class="history-header">
        <section class="header-text">
          <p>
            Microlending has become one of Project Salvador’s cornerstone
            projects, with over $74,000 in funding committed since 2005.
          </p>
        </section>
        <!-- <img src="../images/la_montanona_25th.jpeg" class="header-image"/> -->
        <img src="https://wallscover.com/images/san-salvador-wallpaper-16.jpg" class="header-image"/>
      </header>
      <section class="microlending-content history-content">
        <article class="microlending-section history-section">
          <article class="microlending-article history-article">
            <!-- <img src="../images/la_montanona_25th.jpeg" class="content-image"/> -->
            <p>
              The Karen Adams Microlending Project was established in 2005 from
              the estate of Karen Adams, a victim of breast cancer who wanted her
              inheritance to be used to support those most in need in our world. 
              The Microlending Project aims to support the economic and
              organizational development of women by establishing Microlending
              Committees (Community Banks) for women in rural communities in north
              central El Salvador.  
            </p>
          </article>
          <h2 class="text-break">Karen Adams Microlending</h2>
        </article>

        <article class="microlending-section history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">2017 Update</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="microlending-article history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <ul>
              <li>Women’s Microlending Committees in 34 communities</li>
              <li>Loans ranging from $50-300</li>
              <li>98.5% payback rate</li>
              <li>Over $26,000 in interest has been generated, increasing the
                seed capital by OVER 40%</li>
              <li>Over 1200 women and their families have benefited directly
                from this project</li>
            </ul>
          </article>
          <h2 class="text-break">
            Everything was being given away. No one thought about building for
            the future or being sustainable
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Community Empowerment</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <p>
              “With the community banks we have broken the pattern of charity
              and dependence that characterized much of the aid that came in to
              our communities during and after the war. Everything was being
              given away. No one thought about building for the future or being
              sustainable,” reflected Marta Alicia of the project coordinating
              team in El Salvador. “Now women are creating their own asset in
              their communities. That is real power. And together we are making
              it happen.”
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            Their micro-enterprise means that Josefina, a widow with 3 children,
            has a steady source of income
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">The Building of a Legacy</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>

            <p>
              Candelaria and Josefina bought an industrial stove and set up
              their own restaurant in the community plaza.  On Mondays and
              Fridays they sell pupusas—a Salvadoran tortilla stuffed with
              beans, cheese and/or chicharrones. On Wednesdays they sell
              Salvadoran enchiladas.  The capital for their start-up loans
              came from Project Salvador’s Karen Adams Microlending Project. And
              their micro-enterprise means that Josefina, a widow with 3
              children, has a steady source of income to meet her growing
              children’s basic needs.  For Candelaria and her husband, it means
              that they struggle a little less to make ends meet. 
            </p>
          </article>
          <h2 class="text-break">
            The Papaturro innovators elected a loan committee and developed
            the criteria
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">The women of Papaturro</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <p>
              For the Project Salvador Board, getting into microlending was an
              organic process, evolving with time.  In 2003 Project Coordinator,
              Patty Lawless, had provided seed money of $1000 for the Women’s
              Committee in the community of Papaturro, to be used on a project
              that would strengthen the organizing of women in the community. 
              They brought it to a vote of the general assembly of women and
              decided that a microlending fund would be of greatest long-term
              benefit to the women there. The Papaturro innovators elected a
              loan committee and developed the criteria for the selection of
              loan recipients as well as the structure for the administration
              of the loans, including an impressive accounting and tracking
              system.   
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            The Papaturro innovators elected a loan committee and developed
            the criteria
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Creating Financial Independence</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              After the first year, the Papaturro Committee was thriving, with
              thirty women having benefited from six-month loans of $50 to start
              or strengthen income-generating projects in their community.  The
              payback rate was 100% and Lawless was able to get another $500 to
              expand the fund. Women were making cheese, raising pigs and
              chickens and turkeys, opening up little restaurants, selling
              clothing door-to-door, expanding local stores, making uniforms for
              school children—the creativity abounded as women were experiencing
              financial independence and the opportunity to meet the basic needs
              of themselves and their children.         
            </p>
          </article>
          <h2 class="text-break">
            The writing was on the wall—microlending, using the Papaturro model,
            was ready to replicate
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Spreading the Model</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <p>
              As the Papaturro project flourished, women around the region were
              taking note and inquiring about the possibilities of starting
              microlending funds in their communities as well.  When the Project 
              Salvador board received the notice in 2005 that the Karen Adams’
              estate was going to make a substantial donation to our work, the
              writing was on the wall—microlending, using the Papaturro model,
              was ready to replicate and interest was high! 
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            Five communities were identified for the first roll out in 2005
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Leadership from Suchitoto</h3>
            <div class="line-box"></div>
          </section>
          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <section class="hitory-section">
              <p>
                The Board empowered Lawless to grow the project on the ground,
                working with regional women’s organizations to provide both the
                visioning and the administrative connection in El Salvador to
                develop the project. Working with three organizations (APDM,
                PROGRESO and CRC), a Microlending Team of five women organizers
                began identifying communities that were ready to establish a
                microlending fund through their women’s committees.  Five
                communities were identified for the first roll out in 2005, which
                included 2 training sessions for the women elected to each
                community’s microlending committee and 3 additional trainings
                for the treasurers.  The first year went very smoothly and the
                Karen Adams Microlending Project was up and running!
              </p>
              <p>
                The Team in Suchitoto has continued to play a key leadership role
                in this work, providing follow-through with each of the 34
                committees, troubleshooting when there are challenges to be
                addressed, training new committee members and treasurers when
                there is turnover. 
              </p>
            </section>
          </article>
          <h2 class="text-break">
            There are many communities still waiting for funding, and the
            results are indisputable
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Future of Microlending</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
              <p>
                The Project Salvador Board is committed to supporting this work,
                counting on the continued generous contributions of our donors. 
                There are many communities still waiting for funding, and the
                results are indisputable.  The dual goals of the project have
                been met beyond expectations:  providing opportunities for women
                to generate income, and strengthening the organizing of women
                throughout the region—a worthy legacy in honor of Karen Adams.
              </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            Something Something Something
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">How you Can Help</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>

            <section class="history-section">
              <p>
                We invite you to help the Microlending Project continue to grow.
              </p>
              <ul>
                <li>
                  $20=travel expenses to one of the more remote communities
                </li>
                <li>
                  $50=trainer stipends for the annual training for community
                  bank treasurers (supports 5-10 community banks)</li>
                <li>
                  $100=training and setting up of the accounting system for one new
                  community bank
                </li>
                <li>
                  $235=training expenses for annual training for new committees
                  (supports 5-10 community banks)
                </li>
                <li>
                  $500=initial seed money for a new community bank for a community
                  of less than 50 families
                </li>
                <li>
                  $650=annual evaluation retreat with all community banks, 80-100
                  women (includes transportation, food, materials, child care)
                </li>
                <li>
                  $1000=initial seed money for a new community bank for a
                  community of 50-125 families
                </li>
                <li>
                  $2100=full funding of a new community bank for a community of less
                  than 50 families
                </li>
                <li>
                  $2600=full funding of a new community bank for a community of 50-
                  125 families
                </li>
              </ul>
            </section>
          </article>
          <h2 class="text-break">
            Something Something Something
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Legacy of Karen Adams</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
              <p>
                Karen Adams was a woman from Hawaii who was dying of breast
                cancer. She decided to donate her estate to organizations that
                were serving the poor throughout the world.  She found Project 
                Salvador on the internet and gave us 1/7 of her estate!  $20,000
                of this fund went to kick-off the Karen Adams Microlending Project!
              </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
        </article>
        <article class="history-section">
          <h3></h3>
          <p>
          </p>
          <img />
        </article>
      </section>
    </main>
    <footer >
      <p>Project Salvador</p>
      <p> a 501c3 organization</p>
    </footer>
  </body>
</html>
