<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project Salvador</title>
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Chonburi|Muli" rel="stylesheet">
  </head>
  <body>
    <nav>
      <section class="nav-left-links">
        <a href="./index.html"class="brand">Project Salvador</a>
      </section>
      <section class="nav-right-links">
        <section class="dropdown">
          <a>About</a>
          <div class="dropdown-content">
            <a>History</a>
            <a>Members</a>
            <a>Newsletters</a>
            <a>Contact</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Donate</a>
          <div class="dropdown-content">
            <a>Ways to Get Involved</a>
            <a>Donate</a>
          </div>
        </section>
        <section class="dropdown">
          <a>Projects</a>
          <div class="dropdown-content">
            <a href="./microlending.html">Karen Adams Microlending</a>
            <a>Scholarships</a>
            <a>La Laguna</a>
            <a href="./pico.html">Pico Community Organizing</a>
            <a>Center for Arts for Peace</a>
          </div>
        </section>
      </section>
    </nav>
    <main class="history">
      <header class="history-header">
        <section class="header-text">
          <h3>
            PICO--Organizing to Address Community Issues
          </h3>
        </section>
        <!-- <img src="../images/la_montanona_25th.jpeg" class="header-image"/> -->
        <img src="https://wallscover.com/images/san-salvador-wallpaper-16.jpg" class="header-image"/>
      </header>
      <section class="history-content">
        <article class="history-section">
          <p>
            The PICO El Salvador Community Organizing Project is building local
            leadership capacity to address local, regional, and national issues
            in the areas of environment, public safety and government
            accountability.
          </p>
          <h2 class="text-break">
            PICO El Salvador
          </h2>

          <p>
            PICO is a national and international, nonpartisan multicultural
            network of faith-based community organizations working to create
            innovative solutions to problems facing urban, suburban and rural
            communities. Founded in California in 1972 PICO has successfully
            worked to increase access to health care, improve public schools,
            make neighborhoods safer, build affordable housing, redevelop
            communities and revitalize democracy.
          </p>
          <p>
            The PICO model became active in El Salvador in 2006 where it
            operates under the name of COFOA, Communities of Faith Organized
            for Action. Project Salvador has supported COFOA with an annual
            grant of $10,000 since 2009. 
          </p>
        </article>
        <h2 class="text-break">
          COFOA, Communities of Faith Organized for Action
        </h2>
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Leveraging Community Power</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Fr. Jim</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              COFOA provides intensive leadership training that teaches people
              how to use the tools of democracy to improve their communities. 
              Ordinary people, who have learned to successfully use the levers
              of power to bring resources and political attention to their
              communities, lead local community organizations in parishes
              throughout the Diocese of Zacatecoluca in central El Salvador. 
            </p>
          </article>
          <h2 class="text-break">
            COFOA organizations gather together large numbers of people to hold
            themselves and public officials accountable</h2>
        </article>
        <hr />

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Public Accountability</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Community Projects</h3> -->
          <article class="history-article">
            <p>
              COFOA brings people together based on faith and values not just
              issues or anger. COFOA teaches the art of compromise and
              negotiation. COFOA does public business in public through large
              action meetings. As a result, COFOA organizations gain the
              reputation for being able to gather together large numbers of
              people to hold themselves and public officials accountable.
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            COFOA engages ordinary Salvadorans to participate in public life to
            bring about change
        </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Ordinary People</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Peace in El Salvador</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              The most important objective of COFOA is the “formation of leaders
              conscious of the values of their faith who, acting as true
              Christians in public life, facilitate negotiation and dialog with
              the authorities in order to seek solutions to their problems and
              avoid intolerance and violence that only result in pain and
              resentment”. COFOA is helping engage ordinary Salvadorans to
              participate in public life to bring about change.
            </p>
          </article>
          <h2 class="text-break">
            Leaders deepen relationships with families through individual family visits
          </h2>
        </article>
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Uno a Uno</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Earthquake Reconstruction Campaign</h3> -->
          <article class="history-article">
            <p>
              The most important tool in organizing for change is “one on one”
              or “uno a uno”. The goal of “uno a uno” is to initiate and/or
              deepen relationships with families through individual family
              visits in congregations or communities in order to understand
              their needs and concerns - with the notion that once there is
              understanding of the needs of their families, community members
              will be more likely to join together to address issues in their
              communities. COFOA leaders build their power by conducting
              hundreds of these one on one conversations throughout their
              communities.
            </p>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            Values and relationships the glue that holds the organizations together
          </h2>
        </article>
        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Congregation Based</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
            <p>
              In COFOA’s congregation-based community organizing model,
              congregations of all denominations and faiths serve as the
              institutional base for community organizations. Rather than bring
              people together simply based on common issues like housing or
              education, the faith-based or broad-based organizing model makes
              values and relationships the glue that holds the organizations
              together. COFOA builds community organizations based on religious
              congregations, schools and community centers, which are often the
              only stable civic gathering places in many neighborhoods. 
              COFOA helps congregations identify and solve local neighborhood
              issues before addressing broader issues at a city, state or
              national level.
            </p>
          </article>
          <h2 class="text-break">
            Values and relationships the glue that holds the organizations together
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Community Organizing in Practice</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="history-article">
            <section class="history-section">
              <p>
                In June 2009 COFOA leaders brought together over 600 residents
                from 7 parishes and two civic organizations to engage with civic
                authorities and press them to solve public safety and
                environmental problems within the community. One of the problems
                was the lack of the enforcement of traffic regulations and the
                absence of pedestrian overpasses.  During the previous 8 months 8
                people had been killed and 39 had been injured trying to cross the
                major highway that passes by the community. 
              </p>
              <p>
                Another problem was the lack of potable water due to the
                contamination of the Pedro River which runs through the
                community.  Improperly disposed industrial wastes and raw
                sewerage are the sources of this contamination.
              </p>
            </section>
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>
          <h2 class="text-break">
            600 residents from 7 parishes and two civic organizations to engage
            with civic authorities
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Community Leaders</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
              <p>
                On the afternoon of June 13, 2009, 600 residents filled the
                cathedral in the community of Zacatecoluca. Two youth volunteers
                trained by COFOA ran this meeting. They introduced the civic
                authorities such as the National Police and the mayors of
                various communities. They also presented Bishop Elias Samuel
                Bolaños of the Catholic Diocese of Zacatecoluca and 3 members of
                the national legislature. The Bishop gave a brief introduction
                about COFOA and then the volunteers introduced two members of
                the community, representing those most impacted by the lack of
                clean water and unsafe highway conditions. One of these speakers
                was the father of a young girl killed before his eyes by a
                speeding car. He spoke with a passion that brought tears to the
                eyes of many of those present. 
              </p>
          </article>
          <h2 class="text-break">
            Three congressional representatives from different political parties
            agreed to introduce legislation
          </h2>
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Legislative Action</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="history-article">
              <p>
                Each of the three members of the Salvadoran national legislature
                presented their reaction to what they heard and spoke about what
                they would do to try to solve these problems.  Members of the
                audience acted with roaring applause when the three
                congressional representatives from different political parties
                agreed to introduce legislation that would lead to the
                construction of several pedestrian overpasses and water
                treatment plants. After the speeches the three congressional
                representatives signed an enlargement of an agreement indicating
                that they would resolve the problems presented at the meeting.
              </p>
              <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
          </article>

          <!-- <h2 class="text-break">
            Three congressional representatives from different political parties
            agreed to introduce legislation
          </h2> -->
        </article>

        <article class="history-section">
          <section class="title-box">
            <div class="line-box"></div>
            <h3 class="article-header">Lead by Youth</h3>
            <div class="line-box"></div>
          </section>

          <!-- <h3 class="article-header">Craft Program Closes its Doors</h3> -->
          <article class="history-article">
            <img src="../images/la_montanona_25th.jpeg" class="content-image"/>
              <p>
                The COFOA youth volunteers did an excellent job in managing the
                entire meeting especially by keeping all of the speakers within
                the time allotted for their presentations.
              </p>
          </article>
        </article>

        <article class="history-section">
          <h3></h3>
          <p>
          </p>
          <img />
        </article>
      </section>
    </main>
    <footer >
      <p>Project Salvador Crafts, Inc.</p>
      <p> a 501c3 organization</p>
    </footer>
  </body>
</html>
