.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-header {
  color: $dark-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 20px;
  background-color: $dark-backrground;
}

.header-text {
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}

.header-image {
  // margin: 50px;
  margin-bottom: 0px;
  margin-top: 40px;
  margin-right: 0px;
  width: 65%;
  height: 65%;
}

.history-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 800px;
  color: $dark-accent;
  font-size: 18px;
}

.history-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.history-article {
  display: flex;
  align-items: center;
}

.content-image {
  width: 50%;
  height: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.article-header {
  font-style: italic;
}

.text-break {
  font-family: 'Chonburi', cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 25px;
  max-width: 600px;
}

.title-box {
  display: flex;
}

.line-box {
  border-top: 2px solid $dark-accent;
  flex-grow: 2;
  align-self: center;
  margin: 30px;
}
