.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header {
  color: $dark-accent;
  display: flex;
  justify-content: center;
}

.header-image {
  margin: 50px;
  margin-bottom: 10px;
  width: 65%;
  height: 65%;
}

.home-content {
  display: flex;
  align-self: center;
  max-width: 750px;
  color: $dark-accent;
  font-size: 18px;
  font-weight: bolder;
}
